<!DOCTYPE html>

<html>

<head>
<script src="//apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="//apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-utf8-base64/0.0.5/angular-utf8-base64.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
<script type="text/javascript" src="showdown-master/dist/showdown.min.js"></script> 
<title>莫凡小青的技术博客</title>

<link rel="stylesheet" type="text/css" href="myIndex.css">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width,initial-scale=1" />

<script type="text/javascript" src="js/jquery.js"></script>

<!-- <script src="//apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script> -->

<!-- <script src="//apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script> -->
<!--  -->
<script type="text/javascript">
angular.module('ngRouteExample', ['ngRoute','ab-base64'])
.controller('HomeController', function ($scope, $route, $http) { 
  $scope.$route = $route;
  $http.get("https://api.github.com/repos/winni-jane/winni-jane.github.com/contents/source?ref=master")
  .success(function (response) {$scope.list= response;
      

    $http.get(response[0].download_url)
  .success(function (response) {
    //markdown 转化
    var converter = new showdown.Converter(); 
    var html = converter.makeHtml(response); 
    document.getElementById("container").innerHTML = html; 
    // document.getElementById("container").innerHTML = response;

     //初次打开页面显示第一条的内容
  // var elem = document.getElementById("listul").getElementsByTagName("li");
  // var aa = elem[0].getElementsByTagName("a");
 
  var bb =document.querySelectorAll(".listul li:first-child a"); 
  bb[0].className = 'cur'; //js原生实现addClass


  });  
 });

//内容展示
  $scope.showContent = function (download_url,event) {

    $(event.target).addClass("cur"); //jQuery的方法
    $(event.target).parent().siblings().find("a").removeClass("cur");

    $http.get(download_url)
  .success(function (response) {
    var converter = new showdown.Converter(); 
    var html = converter.makeHtml(response); 
    document.getElementById("container").innerHTML = html; 

    // document.getElementById("container").innerHTML = response;

  });                                                              
}

})
.controller('AboutController', function ($scope, $route, $http) { 
  $scope.$route = $route;
  //数据库界面的
   $http.get("https://api.github.com/repos/winni-jane/winni-jane.github.com/contents/dataBase?ref=master")
  .success(function (response) {$scope.list= response;
      

    $http.get(response[0].download_url)
  .success(function (response) {

    var converter = new showdown.Converter(); 
    var html = converter.makeHtml(response); 
    document.getElementById("container").innerHTML = html; 
    // document.getElementById("container").innerHTML = response;
 
  var bb =document.querySelectorAll(".listul li:first-child a"); 
  bb[0].className = 'cur'; 


  });  
 });


//内容展示
  $scope.showContent = function (download_url,event) {

    $(event.target).addClass("cur"); //jQuery的方法
    $(event.target).parent().siblings().find("a").removeClass("cur");

    $http.get(download_url)
  .success(function (response) {
    var converter = new showdown.Converter(); 
    var html = converter.makeHtml(response); 
    document.getElementById("container").innerHTML = html; 

    // document.getElementById("container").innerHTML = response;
  });                                                              
}
  //
})
.config(function ($routeProvider) {
    $routeProvider.
    when('/home', {
        templateUrl: 'embedded.home.html',
        controller: 'HomeController'
    }).
    when('/about', {
        templateUrl: 'embedded.about.html',
        controller: 'AboutController'
    }).
    otherwise({
        redirectTo: '/home'
    });
});

</script>
<!--  -->
</head>



<body ng-app="ngRouteExample" class="ng-scope" onload = "testBgFresh()">

<!-- h5新标签 定义页眉 -->

<header> 

<div class="contenttop">

<div class="logo f_l">莫凡小青的技术博客</div>

<div class="blank"></div>

<nav>

<div class="navigation">

<ul class="menu" id="menu">

<li><a href="#/home" onclick="testBG('0')">ios</a></li>

<li><a href="#/about" onclick="testBG('1')">数据库</a></li>

</ul>

</div>

</nav>
</div>




</header>



<div class="outside">

<div class="stripe f_l">

</div>
<!-- 显示内容 -->
<div class=" f_l" id="container">

</div>


<!-- 右边显示列表 -->
<div class="list f_r" id="roundR">


<div >
<script type="text/ng-template" id="embedded.home.html">

<ul class="listul" id ="listul">

<li ng-repeat="x in list">


 <a  ng-click = "showContent(x.download_url,$event)"> {{ x.name }} </a>
</li>

</ul>
 
  </script>


<!-- about -->
  <script type="text/ng-template" id="embedded.about.html">
      <ul class="listul" id ="listul">
        <li ng-repeat="x in list">
         <a  ng-click = "showContent(x.download_url,$event)"> {{ x.name }} </a>
        </li>
      </ul>
   
  </script>

<div> 

      
    <div ng-view="">

    </div>
</div>
</div>
<!--  -->

</div>

</div>






<!-- nav 点击后要变化的背景颜色 -->
<script type="text/javascript">  
function  testBG(value){

  var urlstr = location.href;  
  var urlstatus=false;  
   
    if (value == "0") {  
      $("#menu a").eq(0).addClass('cur'); 
      $("#menu a").eq(1).removeClass('cur'); 
       urlstatus = true;  

    } else {  
      $("#menu a").eq(0).removeClass('cur'); 
      $("#menu a").eq(1).addClass('cur'); 
       urlstatus = true; 
    }  
     if (!urlstatus) {$("#menu a").eq(0).addClass('cur'); } 
  
}
  
function testBgFresh()
{
  var urlstr = location.href; 
  console.log(urlstr);
  var pos =  urlstr.indexOf('home');
  if (pos !== -1) {
       testBG('0');
  }else{

       testBG('1');
  }


}
</script>  










</body>

</html>
